/* layout between main content and sidebar */
.site-content {
  display: block;
  padding: 0 12px;
}

.main-navigation li {
  float: none;
  margin-top: 8px;
}

@media screen and (min-width: 60em) {
  .site-content {
    display: flex;
    justify-content: center;
  }
  .main-navigation li {
    float: left;
    margin-top: 0;
  }
}

.main-navigation {
  position: relative;
}

.menu-toggle {
  position: absolute;
  top: -5em;
  right: 0;
}

.edit-link {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #F4F4F4;
}

.content-area {
  flex-grow: 1;
}
.content-area, .widget-area {
  padding: 8px 12px;
}
.widget-area {
  flex: 0 0 auto;
  width: 320px;
}

.widget_calendar {
  width: 200px;
}

.site-footer {
  padding: 0 1em;
}

/* header */
#masthead {
  padding: 8px 32px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #f0f0f0;
}
.site-title {
  margin-bottom: 0;
}
.site-description {
  margin-top: 0;
}
#primary-menu .menu-item {
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
}
#primary-menu .menu-item:hover {
  background-color: #f4f4f4;
}